.toolbar {
    margin: 15px -15px -15px -15px;
    width: auto;
    position: relative;
}

.myBackground {
	opacity: 0.6;
	position: fixed;
	width: 100%;
	top: 0;
    left: 0;
}

img.listFamilyPageMapImage {
    margin-left: 15px;
    margin-top: 15px;
}

.listFamilePageAddress {
    font-size: 10px;
    font-weight: normal;
    white-space: normal;
}